{:source-paths ["src"]

 :dependencies [[binaryage/devtools "1.0.2"]
                [com.hyperfiddle/rcf "20220405"]
                [missionary/missionary "b.27-SNAPSHOT"]
                [hashp "0.1.1"]
                [philoskim/debux "0.8.2"]
                [meander/epsilon "0.0.650"]
                [tick/tick "0.5.0-RC6"]]

 :dev-http {8080 "resources/public/"}

 :devtools {:preloads [hashp.core]}

 :cljsbuild {:builds [{:compiler {:preloads [devtools.preload]}}]}

 :builds {:web {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :modules {:main {:init-fn missionary-help.core/start!}}}}

 :jvm-opts ["-Xmx4G"]}
